body {
  font-family: Avenir, sans-serif;
}

p {
  color: black;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 1.1em;
  line-height: 25px;
}

.white-text {
  color: white;
  padding: 0px;
  margin: 2px 0px 10px 0px;
}

.container {
  align-items: center;
  display: block;
  justify-content: center;
}

.container-fluid {
  align-items: center;
  display: block;
  justify-content: center;
}

h2 {
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  padding-top: 2%;
}

h3 {
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
}

.left-justified {
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #13b5ea; /* light blue */
  text-decoration: none;
}

/* ------------------------------------------------ Header --------------------------------------- */
#header {
  background-color: #0f4068; /* dark blue color*/
}

.container-head {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#logo{
  max-width: 200px;
  padding: 30px;
  margin-left: 10%;
}

nav {
  color: white;
  padding-top: 10px;
  margin-right: 10%;
}

ul {
  list-style: none;
}

li {
  display: inline;
  padding-left: 60px;
  letter-spacing: 3px;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: #13b5ea; /* light blue */
  text-decoration: none;
}

ul li a:active {
  color: white;
  text-decoration: none;
}


/* ------------------------------------------------ Intro --------------------------------------- */
#intro {
  background-color: #0f4068; /* dark blue color*/
}

h1 {
  color: white;
  letter-spacing: 5px;
  font-weight: 800;
  text-align: center;
  font-size: 4em;
  margin-top: 60px;
}

#yellow-h1 {
  color: #ffc81c;  /* yellow color*/
  margin-top: 0px;
}

#intro-paragraph {
  margin: 50px;
}

#learn-more-button {
  background-color: white;
  max-width: 150px;
  padding: 5px;
  font-weight: bold;
  color: #0f4068; /* dark blue color*/
  border-radius: 5px;
  border-color: #0f4068;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

#learn-more-button:hover {
  background-color: #0f4068; /* dark blue color*/
  color: white;
  border-radius: 5px;
  border-color: white;
  border-style: solid;
  border-width: 3px;
}

#learn-more-button a {
  text-decoration: none;
  color: #0f4068; /* dark blue color*/
}

#learn-more-button a:hover {
  text-decoration: none;
  color: white;
}

/* ------------------------------------------------ Plan Options --------------------------------------- */
#MEC-about {
  background-color: #ebebeb; /* grey color*/
  padding: 0px 0px 50px 0px;
}

.yellow-icon {
  max-width: 100px;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}

#MEC-about, #IND-about {
  height: 15%;
}

/* ------------------------------------------------ Enroll --------------------------------------- */
#enroll {
  background-color: #ffc81c;  /* yellow color*/
}
#button-steps {
  margin-top: 3%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.enroll-buttons {
  padding: 8px 18px 8px 18px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #ffc81c;  /* yellow color*/
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%;
}

.enroll-buttons:hover {
  color: #ffc81c;  /* yellow color*/
  background-color: white;
  border-color: #ffc81c;  /* yellow color*/
}

.enroll-buttons a {
  color: white;
  text-decoration: none;
}

.enroll-buttons a:hover {
  color: #ffc81c;  /* yellow color*/
  background-color: white;
  border-color: #ffc81c;  /* yellow color*/
  text-decoration: none;
}

.yellow-background {
  background-color: #ffc81c;  /* yellow color*/
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 100px 0px 100px 0px;
}

.large-number {
  color: white;
  font-weight: bold;
  font-size: 20em;
  text-align: right;
}

.slider {
  color: white;
  font-size: 3em;
  padding: 0 5% 0 5%;
}


/* ------------------------------------------------ Network --------------------------------------- */

.body-paragraph {
  padding: 2% 10% 2% 10%;
}

.network-icons {
  max-width: 20%;
  margin: 10% 40% 10% 40%;
}

.row-icons {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 15%;
  background-color: #0f4068; /* dark blue color*/
  margin-top: 2%;
  margin-bottom: 2%;
}

.network-links {
  margin-bottom: 15%;
}

.network-box:hover {
  background-color: #13b5ea; /* light blue */
}

/* ------------------------------------------------ QLE --------------------------------------- */
#QLE {
  background-color: #13b5ea; /* light blue */
}

.QLE-icon {
  height: 50px;
}

/* ------------------------------------------------ FAQ --------------------------------------- */
.question-box {
  background-color: #ebebeb; /* grey color*/
}

.answer-box {
  background-color: white;
}

/* ------------------------------------------------ Footer --------------------------------------- */
#foot-blue {
  background-color: #0f4068; /* dark blue color*/
}

#foot-black {
  background-color: black;
}
