body {
  font-family: Avenir, sans-serif;
}

@media only screen and (max-width : 1023px) {
p {
  color: black;
  text-align: center;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 1em;
  line-height: 20px;
}
}

@media only screen and (min-width : 1024px) {
p {
  color: black;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 1.2em;
  line-height: 25px;
}
}


.white-text {
  color: white;
}

.yellow-text {
  color: #ffc81c;  /* yellow color*/
  margin-top: 0px;
}

.light-blue-text {
  color: #13b5ea; /* light blue */
}

.medium-blue-text {
  color: #007dc3;
}


.container {
  align-items: center;
  display: block;
  justify-content: center;
  padding:0px;
}

.container-fluid {
  align-items: center;
  display: block;
  justify-content: center;
  padding: 0px;
}

@media only screen and (max-width : 1023px) {
h1 {
  color: white;
  letter-spacing: 5px;
  font-weight: 800;
  text-align: center;
  font-size: 2.8em;
  margin-top: 30px;
  line-height: 40px;
  margin-bottom: 0px;
}}

@media only screen and (min-width : 1024px) {
h1 {
  color: white;
  letter-spacing: 5px;
  font-weight: 800;
  text-align: center;
  font-size: 4em;
  margin-top: 60px;
}}

h2 {
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  padding-top: 2%;
}

h3 {
  letter-spacing: 2px;
  font-weight: 700;
}

h4 {
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.5em;
  line-height: 35px;
}

.left-justified {
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 0px;
}

.right-justified {
  text-align: right;
  padding-left: 5%;
  padding-right: 5%;
}

.centered-text {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #13b5ea; /* light blue */
  text-decoration: none;
}

/* ------------------------------------------------ Header --------------------------------------- */
#header {
  background-image: url(../img/background.jpg);
  background-repeat: repeat;
}

.container-head {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width : 1024px) {

#logo{
  max-width: 200px;
  padding: 30px;
  margin-left: 10%;
}
}

@media only screen and (max-width : 1023px) {

#logo{
  max-width: 150px;
  padding: 35px 30px 30px 30px;
  margin-left: 5%;
}
}

/* ------------------------------------------------ Navigation - Large --------------------------------------- */

@media only screen and (min-width : 1280px) {

.dropdown {
  width: 70%;
}

#myDropdown {
  color: white;
  padding-top: 10px;
  margin-right: 10%;
}

ul {
  list-style: none;
  float: right;
}

li {
  display: inline;
  padding-left: 60px;
  letter-spacing: 3px;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: #13b5ea; /* light blue */
  text-decoration: none;
}

ul li a:active {
  color: white;
  text-decoration: none;
}

.dropbtn {
  display: none;
}

}

/* ------------------------------------------------ Navigation - Small --------------------------------------- */
@media only screen and (max-width : 1279px) {
.dropbtn {
  color: white;
  background-image: url(../img/background.jpg);
  width: 40px;
  cursor: pointer;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
  margin-right: 100px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:  #13b5ea; /* light blue */;
  z-index: 1;
  float: right;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
}

.dropdown-content ul {
  margin: 0px;
  padding: 0px;
}

.dropdown-content li {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  padding: 12px 16px;
  display: block;
  min-width: 200px;

}

.dropdown-content a{
  color: white;
  letter-spacing: 2px;
}

.dropdown-content a:hover {
  color: #0f4068; /* dark blue color*/
  letter-spacing: 2px;
}
/* - hover dropdown menu
.dropdown:hover .dropdown-content{
  display: block;
} */

}
/* ------------------------------------------------ End Small Nav--------------------------------------- */

/* ------------------------------------------------ Intro --------------------------------------- */
#intro {
  background-image: url(../img/background.jpg);
  background-repeat: repeat;
}

#intro-paragraph {
  margin: 50px;
}

#learn-more-button {
  background-color: white;
  max-width: 150px;
  padding: 5px;
  font-weight: bold;
  color: #0f4068; /* dark blue color*/
  border-radius: 5px;
  border-color: #0f4068;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

#learn-more-button:hover {
  background-color: #0f4068; /* dark blue color*/
  color: white;
  border-radius: 5px;
  border-color: white;
  border-style: solid;
  border-width: 3px;
}

#learn-more-button a {
  text-decoration: none;
  color: #0f4068; /* dark blue color*/
}

#learn-more-button a:hover {
  text-decoration: none;
  color: white;
}

/* ------------------------------------------------ Plan Options --------------------------------------- */
#grey-back {
  background-color: #ebebeb; /* grey color*/
}

@media only screen and (min-width : 1025px) {
#options-large .row p{
  padding-top: 10px;
}

#options-small {
  display: none;
}

.subhead {
  border-bottom-style: solid;
  border-width: thin;
  border-color: #13b5ea; /* light blue */
  padding-bottom: 15px;
}

#small-text {
  font-size: 11px;
  margin-top: -20px;
}
}

/* ------------------------------------------------ Plan Options -Mobile--------------------------------------- */
@media only screen and (max-width : 1024px) {
#grey-back {
  width: 100%;
}

#grey-back h4{
  font-size: 15px;
}

#options-large {
  display: none;
}

.options-text {
  padding-top: 5px;
  margin-bottom: -10px;
}

#small-text {
  font-size: 11px;
  margin-top: -0px;
}

.details-list {
  margin-bottom: 35px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#learn-more-button {
  display: none;
}

ul {
  text-align: left;
  margin-left: 8%;
}
}
/* ------------------------------------------------ End Mobile--------------------------------------- */



.first-column {
  border-right-style: solid;
  border-width: thin;
  border-color: #13b5ea; /* light blue */
  margin-bottom: 30px;
  margin-top: 30px;
}

.second-column {
  margin-bottom: 30px;
  margin-top: 30px;
}

#options-small a, #options-large a{
  color: black;
}

.second-column a:hover{
  color: #13b5ea; /* light blue */
}

#vs img {
  max-width: 4%;
  margin-left: 48%;
  margin-right: 48%;
  margin-top: -25px;
  margin-bottom: 35px;
}

/* ------------------------------------------------ Enroll --------------------------------------- */
#enroll {
  background-color: #ffc81c;  /* yellow color*/
}
#button-steps {
  margin-top: 3%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.enroll-buttons {
  padding: 8px 18px 8px 18px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #ffc81c;  /* yellow color*/
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%;
}

.enroll-buttons:hover {
  color: #ffc81c;  /* yellow color*/
  background-color: white;
  border-color: white;  /* yellow color*/
  cursor: pointer;
}

#when-to-enroll {
  color: #ffc81c;  /* yellow color*/
  background-color: white;
  border-color: white;  /* yellow color*/
  cursor: pointer;
}

.yellow-background {
  background-color: #ffc81c;  /* yellow color*/
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 100px 0px 50px 0px;
}

.large-number {
  color: white;
  font-weight: bold;
  font-size: 20em;
  float: left;
  padding-right: 5%;
  margin-top: -5%;
}


@media only screen and (min-width : 1600px) {
.mySlides {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
}

@media only screen and (min-width: 1300px) and (max-width : 1599px) {
.mySlides {
  width: 90%;
  margin-left: 7%;
  margin-right: 3%;
}
}

@media only screen and (min-width: 1024px) and (max-width: 1299px)  {
.mySlides {
  margin: 0px;
  width: 100%;
}
}

@media only screen and (max-width : 1023px) {
.mySlides {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
}

#slide-2, #slide-3 {
  display: none;
}

.slider {
  color: white;
  font-size: 3em;
  padding: 0 5% 0 5%;
}

.prev, .next {
  font-size: 40px;
  margin-left: 5%;
  margin-right: 5%;
}

.prev:hover, .next:hover {
  cursor: pointer;
}

#prev-2, #prev-3, #next-2, #next-3 {
  display: none;
}

/* ------------------------------------------------ Network --------------------------------------- */

.body-paragraph {
  padding: 2% 10% 2% 10%;
}

.network-icons {
  max-width: 20%;
  margin: 10% 40% 10% 40%;
}

.row-icons {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 15%;
  background-color: #0f4068; /* dark blue color*/
  margin-top: 2%;
  margin-bottom: 2%;
}

.network-links {
  margin-bottom: 15%;
}

.network-box:hover {
  background-color: #007dc3; /* light blue */
}

.network-box a:hover {
  color: #0f4068; /* dark blue color*/
}

#network h4 a{
  color: black;
}

#network h4 a:hover {
  color: #13b5ea; /* light blue */
}

/* ------------------------------------------------ QLE --------------------------------------- */
#QLE {
  background-color: #13b5ea; /* light blue */
}

.QLE-icon {
  height: 75px;
  padding: 5px;
  margin-left: 3%;
  margin-right: 3%;
  float: left;
}

.top{
  padding-top: 20px;
}

.bottom {
  padding-top: 5px;
}

.box {
  padding-bottom: 5%;
}


/* ------------------------------------------------ FAQ --------------------------------------- */
#FAQ {
  margin-bottom: 100px;
}

.question-box {
  background-color: #ebebeb; /* grey color*/
  margin-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
}

.answer-box {
  background-color: white;
}

@media only screen and (min-width: 1000px) and (max-width : 1199px) {
.question-box {
  width: 75%;
}
.answer-box {
  width: 75%;
}
}

@media only screen and (min-width: 1200px) and (max-width : 1449px) {
.question-box {
  width: 63%;
}
.answer-box {
  width: 63%;
}
}

@media only screen and (min-width: 1450px) and (max-width : 1999px) {
.question-box {
  width: 52%;
}
.answer-box {
  width: 52%;
}
}

@media only screen and (min-width : 2000px) {
.question-box {
  width: 40%;
}
.answer-box {
  width: 40%;
}
}


.blue-Q {
  padding: 10px 10px 0px 10px;
  background-color: #0f4068; /* dark blue color*/
  float: left;
}

.blue-A {
  float: left;
}

.plus {
  padding: 10px 10px 0px 10px;
  float: right;
  margin-right: 10px;
}

.question {
  padding: 10px 10px 0px 10px;
  float: left;
}

.answer-box {
  background-color: #ebebeb; /* grey color*/
  display: none;
}

.answer {
  background-color: white;
  padding: 10px;
  margin: 25px;
}

.plus:hover {
  cursor: pointer;
}

.minus:hover {
  cursor: pointer;
}

.minus {
  display: none;
  padding: 10px 10px 0px 10px;
  float: right;
  margin-right: 10px;
}

/* ------------------------------------------------ Footer --------------------------------------- */
#foot-blue {
  background-color: #0f4068; /* dark blue color*/
}

#foot-blue p {
  padding-bottom: 0px;
  padding-top: 10px;
  font-size: 1.5em;
}

#foot-blue h2 {
  margin: -30px 0px 0px 0px;
  font-size: 2.5em;
  padding-top: 25px;
}

#foot-blue h1 {
  margin: 0px;
  font-size: 3em;
  padding-bottom: 15px;
}

#foot-black {
  background-color: black;
  padding: 15px 5px 5px 5px;
}

#foot-blue a{
  color: #13b5ea; /* light blue */
}

#foot-blue a:hover {
  color: white;
}
